@import '../../media.scss';

.selectorContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 80%;
    justify-content: flex-end;
}

.selectorWrap {
    font-size: .9em;
    // width: fit-content;
    width: 15%;
    cursor: pointer;

    @media #{$mobile} {
        width: 100%;
    }
}