@import '../../media.scss';

.chartWrapper {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     gap: 20px;
    //     cursor: pointer;
    //     width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;

    @media #{$mobile} {
        flex-direction: column;
        gap: 10px;

        .canvasjs-chart-container {
            width: 100% !important;

        }
    }
}

// }

.timeChartContainer {

    width: 100%;
    // padding: 1%;background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    // margin: 2%;
}

.header {
    background-color: #f8f9fa;
    padding: .8%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2%;
    border-bottom: 1px solid #e6e9ed;
}