.timeChartContainer {

    width: 100%;
    // padding: 1%;background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
    border-radius: 4px;
    // height: 100%;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    // margin: 2%;
}

.chartContainer {
    width: 100%;
    // height: 360px;
}

.header {
    background-color: #f8f9fa;
    padding: .8%;

    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e9ed;

    .title {
        align-self: center;
    }

    .selectWrapper {
        margin-left: auto;
        font-size: .8em;
        width: 15%;
    }
}