.sidebar {
    width: 15%;
    // padding: 2%;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    img {
        width: 45%;
    }

    div {
        color: rgb(163, 163, 163);
        font-size: .9em;
        font-weight: 500;
    }

    // justify-content: center;
}

.optionsWrapper {
   
    margin-top: 2em;

    // margin-left: 10%;

    .option {
        display: flex;
        align-items: center;
        padding: 1rem;
        color: #6e6e6e;
        font-weight: 500;
        cursor: pointer;
        border-top: 1px solid #ebebeb;
        // border-bottom: 1px solid gray;
        // justify-content: center;


        div {
            margin-left: 4%;
        }
    }

    .selected {
        color: #389674;
        border-right: 2px solid #389674;
        font-weight: 600;
    }

    .option:last-child {
        border-bottom: 1px solid #ebebeb;
    }
}