.dashboardContainer {
    background-color: #e8eff9;
    width: 100%;
    min-height: 100vh;
    padding: 2%;
    box-sizing: border-box;

}
.laodingContainer{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layout {
    width: 100%;

}

.chartContainer {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

.dashboardHeader {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
    justify-content: space-between;

    .headeLeft {
        display: flex;
        align-items: center;
    }

    .headerContent {
        margin-left: 1em;
    }

    .headerIcon {
        font-size: 1.2em;
        font-weight: 500;
        cursor: pointer;
    }

    .headerTitle {
        font-size: 1.5em;
        font-weight: 600;
    }

    .headerSubTitle {
        font-size: .8em;
        font-weight: 500;
        // letter-spacing: .1em;
        white-space: nowrap;
        color: #ababab;
    }
}